<!DOCTYPE>
<html>
  <head>
    <title>jiragraph: {{ .issue.Key }} - {{ .issue.Summary }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="/assets/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>
      <a href="https://{{ .jiraHost}}/browse/{{ .issue.Key }}" target="_blank">{{ .issue.Key }} - {{ .issue.Summary }}</a>
    </h1>
	<div id="root"></div>
    <script src="/assets/main.js"></script>
  </body>
</html>
