<!DOCTYPE>
<html>
  <head>
    <title>{{ .epicKey }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="../style.css" rel="stylesheet" />

    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js/23f76a46/dist/cytoscape.min.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
  </head>
  <body>
    <h1>
      <a href="https://{{ .jiraHost}}/browse/{{ .issue.Key }}">{{ .issue.Key }} - {{ .issue.Summary }}</a>
    </h1>
    <div id="cy"></div>
    <div id="popup" style="visibility:hidden">
      <div id="popup-summary"></div>
      <div class="popup-container">
        <span class="popup" id="popup-type"></span>
        <span class="popup" id="popup-priority"></span>
        <span id="popup-estimate"></span>
        <span id="popup-key"></span>
        <span id="popup-avatar"></span>
        <div id="popup-status-text"></div>
      </div>
      <div id="popup-status"></div>
    </div>
    <!-- Load application code at the end to ensure DOM is loaded -->
    <script src="../app.js"></script>
  </body>
</html>
