<!DOCTYPE>
<html>
  <head>
    <title>jiragraph: {{ .issue.Key }} - {{ .issue.Summary }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="/assets/graph.css" rel="stylesheet" />
  </head>
  <body>
	<div id="root"
		data-issue-key="{{.issue.Key}}"
		data-issue-type="{{.issue.Type}}"
		data-issue-summary="{{.issue.Summary}}"
		data-issue-initial-estimate="{{.issue.InitialEstimate}}"
		data-issue-color="{{.issue.Color}}"
		data-jira-host="{{.jiraHost}}">
	</div>
    <script src="/assets/graph.js"></script>
  </body>
</html>
