<!DOCTYPE>
<html>
  <head>
    <title>{{ .project }} - epics</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <link href="../../style.css" rel="stylesheet" />
  </head>
  <body class="list">
	<table>
		<tr>
			<th class="epic-status">Status</th>
			<th>Key</th>
			<th>Summary</th>
			<th>Assignee</th>
		</tr>
		{{range .epics}}
			<tr>
				<td>
				  <div class="epic-status {{if .IsActive}}active{{end}}">&#9679;
				    <span class="epic-status-tooltip">{{.Status}}</span>
				  </div>
				</td>
				<td class="key"><a href="/epics/{{.Key}}">{{.Key}}</a></td>
				<td>{{.Summary}}</td>
				<td>{{.Assignee}}</td>
			</tr>
		{{end}}
	</table>
  </body>
</html>
